@model ErrorViewModel
@{ ViewData["Title"] = "Error"; }

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-4 col-xl-8"><br/>
                <img src="https://www.quickanddirtytips.com/sites/default/files/styles/article_3_columns_two_third/public/images/2912/oops-image.jpg?itok=C30nPLom" class="img-fluid"
                     alt="error image">
            </div>
            @*<h1 class="text-danger">Error.</h1>*@
            <h2 class="text-danger">An error occurred while processing your request.</h2>

            @if (Model.ErrorMessage != null)
             {
                <p>
                <strong><code>@Model.ErrorMessage</code></strong>
                </p>  
             }
        </div>
    </div>   
</section>