@{ ViewData["Title"] = "Home Page"; }

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-5  col-xl-8" align="center">
                <img src="https://us.123rf.com/450wm/houbacze/houbacze1505/houbacze150500043/40703277-this-is-blue-illustration-welcome.jpg?ver=6" class="img-fluid"
                     alt="welcome image" width="650">

                <h1 style="text-align:center">To our member portal<font color="#FFA500"> @ViewBag.Username</font></h1>
            </div>

        </div>
    </div>
</section>
